# pycharm ide
.idea

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# udunits combined xml file
udunits2_combined.xml

# udunits-2 copyright file
UDUNITS-2_COPYRIGHT